<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="reportHelper" type="SampleWordHelper.Configuration.ReportHelperConfigurationSection, SampleWordHelper"/>
  </configSections>
  <reportHelper>
    <catalogProviders>
      <add name="filesystem" class="SampleWordHelper.Providers.FileSystem.FileSystemCatalogProvider, SampleWordHelper"/>
    </catalogProviders>
  </reportHelper>
</configuration>