<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="reportHelper" type="SampleWordHelper.Configuration.ReportHelperConfigurationSection, SampleWordHelper"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SampleWordHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  
  <!-- Системные настройки -->
  <reportHelper>
    <providerFactories>
      <add name="filesystem" class="SampleWordHelper.Providers.FileSystem.FileSystemProviderFactory, SampleWordHelper"/>
    </providerFactories>
  </reportHelper>
  
  <!-- Пользовательские настройки -->
  <userSettings>
    <SampleWordHelper.Properties.Settings>
      <setting name="CurrentProviderName" serializeAs="String">
        <value />
      </setting>
      <setting name="IsUpgradeRequired" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FileSystemProviderConfiguration" serializeAs="String">
        <value />
      </setting>
    </SampleWordHelper.Properties.Settings>
  </userSettings>
  
  <!-- Настройки логирования -->
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="logdirectory" value="${specialfolder:folder=LocalApplicationData}/WordHelper"/>
    
    <targets>
      <target name="wordhelper-full" xsi:type="File" 
              fileName="${logdirectory}/wordhelper.log" keepFileOpen="false" encoding="utf-8" 
              layout="${stacktrace} ${message}${newline}" header="------- Starting log ${longdate} -------" footer="------- Ending log ${longdate}-------" />
      <target name="wordhelper-errors" xsi:type="File"
              fileName="${logdirectory}/wordhelper-errors.log" keepFileOpen="false" encoding="utf-8"
              layout="${stacktrace} ${message}${newline}"/>
    </targets>

    <rules>
      <logger name="*" minlevel="Trace" writeTo="wordhelper-full"/>
    </rules>
  </nlog>
</configuration>