<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="reportHelper" type="SampleWordHelper.Configuration.ReportHelperConfigurationSection, SampleWordHelper"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SampleWordHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <reportHelper>
    <providerFactories>
      <add name="filesystem" class="SampleWordHelper.Providers.FileSystem.FileSystemProviderFactory, SampleWordHelper"/>
    </providerFactories>
  </reportHelper>
  <userSettings>
    <SampleWordHelper.Properties.Settings>
      <setting name="CurrentProviderName" serializeAs="String">
        <value />
      </setting>
      <setting name="IsUpgradeRequired" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FileSystemProviderConfiguration" serializeAs="String">
        <value />
      </setting>
    </SampleWordHelper.Properties.Settings>
  </userSettings>
</configuration>